.newsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px auto;
}

.newsStartTitles {
    margin: 30px auto;
}

.newsView {
    padding: 20px 5%;
}

.marketInfoCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* This will space out the cards evenly */
    gap: 20px; /* This adds space between the cards if they wrap to a new line */
}