.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically in the container */
  align-items: center; /* Centers content horizontally */
  min-height: 100vh; /* Full height of the viewport */
  padding-top: 60px; /* Adjust if necessary to account for navbar height */
  padding-bottom: 60px; /* Adjust if necessary to account for footer height */
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7; /* Optional: sets a background color for the whole quiz area */
}

/* Header styling */
.quiz-header {
  width: 100%;
  max-width: 600px; /* Adjust based on your design requirements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.quiz-header h1 {
  font-size: 24px;
}

/* Quiz level and likes styling */
.quiz-level, .likes {
  font-size: 14px;
}

/* Question area */
.quiz-question {
  width: 100%;
  max-width: 600px; /* Adjust based on your design requirements */
  text-align: center; /* Centers the text inside the question area */
}

.quiz-answer {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Space between buttons */
    background-color: #fff; /* Background color */
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Changes cursor to indicate this is clickable */
    transition: background-color 0.2s ease-in-out; /* Smooth transition for hover effect */
    text-align: left; /* Align text to the left */
  }
  
  /* Hover effect for quiz answers */
.quiz-answer:hover {
    background-color: #f2f2f2; /* Light grey background on hover */
}
  
  /* Selected answer style */
.selected {
    background-color: #8BBBF8; /* Slightly different background for selected answer */
    font-weight: bold; /* Make the selected answer bold */
}

/* Answer buttons styling */
.answer-btn {
  width: calc(100% - 20px); /* Full width minus padding */
  margin: 0.5rem 0;
  /* Other styles remain the same */
}

.confirm-btn {
    background-color: rgb(51, 185, 80); /* Green background */
    color: white; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.confirm-btn:hover {
    background-color: #3e8e41; /* A darker shade of green for the hover state */
}

.confirm-btn:disabled {
    background-color: #c8e6c9; /* A lighter shade of green to indicate it's disabled */
    color: white;
    cursor: not-allowed;
}

/* Footer buttons styling */
.quiz-footer {
  width: 100%;
  max-width: 600px; /* Adjust based on your design requirements */
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}